<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>username: {{ curent_user.username }}</h1>

    <ul>
        <li>email: {{ curent_user.email }}</li>
        <li>password: {{ curent_user.password }}</li>
        <li>age: {{ curent_user.age }}</li>
    </ul>

    <a href="/users/logout"><button>logout</button></a>
    <a href="/users/edit"><button>edit</button></a>
</body>
</html>